/*----------------------通用設定------------------------*/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}
body{
	width: 100%;
	font-family: 微軟正黑體, Microsoft JhengHei, Arial, Helvetica, sans-serif, Aparajita;
	letter-spacing: 1px;
}
input, select, textarea{
	display: block;
	height: 40px;
	padding: 0 10px;
	font-size: 14px;
	color: #555;
	border: none;
	border-radius: 0;
	background: none;
	border-bottom: 1px #fff solid; 
	outline:none;
	resize: none;
	&::placeholder{
		color: #aaa;
	}
}
.html{
	width: 100%;
	max-width: 1000px;
	overflow: hidden;
	margin: 0 auto;
	img{
		width: 100%;
	}
}
.desk{
	display: block;
}
.mobile{
	display: none;
}
@media all and (max-width: 1024px) {
input, select, textarea{
	height: 45px;
	font-size: 1em;
}
.html{
	width: 90%;
	margin: 0 auto;
	font-size: 1em;
	line-height: 1.8;
	img{
		width: 100% !important;
		height: auto !important;
	}
}
.desk{
	display: none;
}
.mobile{
	display: block;
}
}//max-width: 1024px

/*----------------------大區塊------------------------*/
#wrapper{
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
main, article{
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
main{
	padding-bottom: 100px;
}
.content{
	width: 1000px;
	margin: 0 auto;
}
@media all and (max-width: 1024px) {
main, article{
	width: 100%;
}
main{
	padding-bottom: 100px;
}
.content{
	width: 90%;
}

}//max-width: 1024px

/*----------------------標題------------------------*/
h2{
	margin: 70px auto 60px;
	text-align: center;
}
@media all and (max-width: 1024px) {
h2{
	margin: 40px auto;
	text-align: center;
}
}//max-width: 1024px

